@charset "utf-8";
*{margin:0;padding: 0;}
a{text-decoration: none;outline:none;color:#8c8c8c;
   -moz-outline-style:none;}
ul{list-style-type: none;}
i,em,address{font-style: normal;}
img{display: block;max-width: 100%;outline: none;border:none}
body{
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
	background: #fff;;
	margin:0 auto 0;
    font-family: '微软雅黑';
	font-size: 0.14rem;
	color:#666;
}